@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: Lato;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 60px;
}

p {
    font-size: 20px;
    margin: 5rem 1rem;
}

ul {
    list-style: none;
}

button {
    box-shadow: 4px 4px 7px rgb(95, 95, 95);
    transition: .7s;
    -webkit-transition: box-shadow .7s;
}

a {
    text-decoration: none;
    color: black;
}

/*header start---------------------------------------------------*/


header {
    width: 100%;
    margin: 0;
}

.header-container {
    width: 100%;
    background: #fffafa;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.logo {
    min-width: 10%;
    min-height: 10%;
    max-width: 350px;
    max-height: 105px;
    display: flex;
    align-items: center;
}

.logo img {
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-logo {
    min-width: 300px;
    margin-left: 5%;
    position: relative;
    display: flex;
    justify-content: left;
}

.menu-container {
    display: flex;
    justify-content: right;
    align-items: center;
    min-width: 300px;
}

.menu-contents {
    padding: 20px;
    font-weight: bold;
}


.header-menu {
    display: flex;
    align-items: center;
    margin: auto;
}

.header-menu a {
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}


.header-menu a:hover {
    cursor: pointer;
    transition: 0.1s;
    border-bottom: 2px solid black;
}

.quick-support {
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0 1rem;
    min-height: 30px;
    min-width: 110px;
}

.quick-support:hover {
    cursor: pointer;
    background-color: #002ead;
    transition: 0.7s;
    box-shadow: 4px -4px 7px rgb(165, 164, 164);
    -webkit-transition: box-shadow .7s;
}



/*header end--------------------------------------------------------------------*/



/*hero section  start*/
.hero-section {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 800px;
    /* background: linear-gradient(120deg,#d4e2eb,#779ed9); */
    background-image: linear-gradient(to top, #d4e2eb, #cbdde9, #c2d8e7, #b9d4e4, #b0cfe2, #a7cae1, #9ec4df, #95bfde, #8bb7dd, #82afdc, #7ca7db, #779ed9);    color:white;
}

.hero-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
}

.hero-header {
    max-width: 620px;
    min-width: 100px;
    padding: 50px 0;
    margin: 20px;
}

.hero-header h2 {
    font-size: 50px;
}

.offer-links-container{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:  20px 75px;
    margin: 15px 10px;
}

.offer-links-container img{
    height: 110px;
    width: 70%;
    object-fit: contain;
}


.offer-links-container a {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}


.offer-links-container a:hover {

    cursor: pointer;

    transition: 0.1s;
    border-bottom: 2px solid white;
}

.support-link, .technology-link,.website-link {
    display: flex;
    justify-content: center;   
    align-content: center;
    align-items: center;
    flex-direction: column; 
}


/*hero section end------------------------------------------------------*/


/*mission statement start----------------------------------------------*/
.mission-statement-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 900px;

}

.mission-statement-container {
    padding-top: 40px;
    min-width: 370px;
    max-width: 820px;
}

.mission-statement-container h4 {
    font-size: 30px;
    padding: 20px;
}


/*mission statement end---------------------------------------------------*/

/*offer start-----------------------------------------------------------*/

.offer-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    min-height: 650px;
    margin: auto;
    background-color: #dde5f4;
    padding-top: 80px;
}

.offer-section h2 {
    padding: 15px;
    padding-bottom: 45px;
}

.offer-container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.offer-container img {
    height: 70px;
    width: 40%;
    object-fit: contain;
}

.offer-container h3 {
    font-size: 30px;
}

.hardware,
.website,
.support {
    width: 25%;
    min-width: 200px;
    margin: 30px 30px;
}

p.offer-content {
    margin: 3px;
}

/*offer end --------------------------------------------------------------------*/
 
/*Support Section Main Page---------------------------------------------------------------*/

.support-section-index {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    min-height: 300px;
    background-color: #668eab;
    color: aliceblue;
    flex-direction: column;
}

/*Support Section Support Page---------------------------------------------------------------*/

.help-list{
    list-style-type: none;
    text-align: center;
}
li {
    padding: 5px;
    font-size: 30px;
    text-align: left;
}
.support-section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #668eab;
    color: aliceblue;
    padding-top: 60px;
}

.support-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
}

.support-header {
    margin-bottom: 30px;
}

.card {
    flex-direction: row;
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
}

/* .help-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
} */

.help-list li {
    margin: 10px;
}
.help-list img {
    margin: 40px;
}

.card img {
    padding: 5px;
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
}





/* .card-3 li{
    flex-grow: 2;
}
.card-3 img{
    flex-grow: 2;
}

.card-5 li{
    flex-grow: 2;
}
.card-5 img{
    flex-grow: 2;
}

.card-6 li{
    flex-grow: 2;
}
.card-6 img{
    flex-grow: 0;
}

.card-7 li{
    flex-grow: 3;
}
.card-7 img{
    flex-grow: 0;
}

.card-8 li{
    flex-grow: 2;
}
.card-8 img{
    flex-grow: 0;
} */

.button {
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 40px;
    min-height: 50px;
    min-width: 120px;
    padding: 0 40px;
    margin: 5px;
    font-size: 20px;

}

.button:hover {
    background-color: #002ead;
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 4px -4px 7px rgb(92, 92, 92);
    -webkit-transition: box-shadow .7s;
}

::placeholder {
    padding-left: 5px;
}

/*Footer Start--------------------------------------------------------------*/


.footer-container {
    width: 100%;
    min-height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b232b;
}

.footer-address {
    margin: 0 20px;
}

/*Footer End--------------------------------------------------------------*/

/* Agent page start------------------------------------------------------- */

.agent-header {
    padding-top: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.button-container button {

    min-width: 230px;
}

.agent-section {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    min-height: 800px;
    /* background: linear-gradient(120deg,#d4e2eb,#779ed9); */
    background-image: linear-gradient(to bottom, #668eab, #6993b6, #6d98c2, #739dcd, #7aa2d8, #7ca3dc, #7fa5e0, #82a6e4, #7fa4e1, #7ca2de, #7aa0dc, #779ed9);}



/* Agent page end--------------------------------------------------------- */











@media (max-width: 480px) {
    .quick-support,.bottom-button button, .support-container {
        display: none;
    }

    .support-section {
        min-height: 70vh;
    }

    .header-container {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .header-logo {
        min-width: 240px;
    }

    .logo img {
        width: 90px;
        height: 90px;
    }

    .menu-container {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-direction: row;
        min-width: 0;
    }

    .header-menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        flex-direction: row;
        margin: auto;

    }

    .header-menu a {
        font-size: 16px;
    }

    .logo {
        min-width: 10%;
        min-height: 10%;
        max-width: 350px;
        max-height: 105px;
        display: flex;
        align-items: center;
    }

    .offer-section{
        padding-top: 40px
    }
}

@media (max-width: 912px) {
    .header-container {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }

    .header-logo {
        min-width: 240px;
    }

    .logo img {
        width: 90px;
        height: 90px;
    }

    .menu-container {
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        flex-direction: row;
        min-width: 0;
    }

    .header-menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        flex-direction: row;
        margin: auto;

    }

    .header-menu a {
        font-size: 16px;
    }

    .logo {
        min-width: 10%;
        min-height: 10%;
        max-width: 350px;
        max-height: 105px;
        display: flex;
        align-items: center;
    }
}
















